<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Actualizar Contraseña</title>
</head>
<body>
    <h1>Actualizar Contraseña</h1>
    <form action="/update-password" method="post" th:object="${usuario}">
        <input type="hidden" th:field="*{correo}" th:value="${correo}" />
        <p>Correo: <span th:text="${correo}"></span></p>
        <p>Nueva Contraseña: <input type="password" th:field="*{contraseña}" /></p>
        <button type="submit">Actualizar Contraseña</button>
    </form>
</body>
</html>
