<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario de Registro de Usuario</title>
</head>
<body>
    <h1>Formulario de Registro de Usuario</h1>
    <form th:action="@{/agregar-usuario}" method="post">
        <p>
            <label>Correo electrónico: </label>
            <input type="email" th:field="*{usuario.correo}" required />
        </p>
        <p>
            <label>Contraseña: </label>
            <input type="password" th:field="*{usuario.contrasena}" required />
        </p>
        <p th:if="${usuario.idTipo != null}">
            <label>Tipo de Usuario: </label>
            <input type="text" th:field="*{usuario.idTipo.nombre}" readonly />
            <input type="hidden" th:field="*{usuario.idTipo.id}" />
        </p>
        <p>
            <label>Nombre: </label>
            <input type="text" th:field="*{cliente.nombre}" required />
        </p>
        <p>
            <label>Apellido Paterno: </label>
            <input type="text" th:field="*{cliente.apellidoPaterno}" required />
        </p>
        <p>
            <label>Apellido Materno: </label>
            <input type="text" th:field="*{cliente.apellidoMaterno}" required />
        </p>
        <p>
            <label>Sexo: </label>
            <input type="text" th:field="*{cliente.sexo}" required />
        </p>
        <p>
            <label>DNI: </label>
            <input type="text" th:field="*{cliente.dni}" required />
        </p>
        <p>
            <label>Fecha de Nacimiento: </label>
            <input type="date" th:field="*{cliente.fechaNacimiento}" required />
        </p>
        <p>
            <label>Celular: </label>
            <input type="text" th:field="*{cliente.celular}" required />
        </p>
        <p>
            <label>Imagen URL: </label>
            <input type="text" th:field="*{cliente.imagenUrl}" required />
        </p>
        <p>
            <label>Región: </label>
            <input type="text" th:field="*{cliente.region}" required />
        </p>
        <p>
            <label>Provincia: </label>
            <input type="text" th:field="*{cliente.provincia}" required />
        </p>
        <p>
            <label>Distrito: </label>
            <input type="text" th:field="*{cliente.distrito}" required />
        </p>
        <button type="submit">Guardar Usuario</button>
    </form>
</body>
</html>
